@import '../utils/scssVariables.scss';

.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 0 1px #e6e6e6;
  border-width: 2px;

  .avatar-h1 {
    position: relative;
    padding: 5px;
    height: 150px;
    width: 300px;
    text-align: center;

    &::after {
      background: linear-gradient(to right, #4bb1ff 25%, #d268f9 75%);
      position: absolute;
      content: '';
      height: 4px;
      right: 0;
      left: 0;
      top: 0;
    }
  }
}
