@import '../utils/scssVariables.scss';

:root {
  @include custom-light-blue-scrollbar;
  color: $white;
  overflow-y: var(--scroll-bar-visibility);
  --img-gap: 0.5rem;
}

.home-container {
  display: flex;
  min-width: $widthMinusScroll;
  .videos-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(
      to right,
      #31343a 0%,
      #52555d 20%,
      #43495c 40%,
      #4a4e57 60%,
      #3b3e47 80%,
      #31343a 100%
    );
    margin-top: 9vh;
    padding-bottom: 2.5rem;
    overflow-x: hidden;
    transition: all ease-in-out 250ms;

    .row-video-container {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;

      --item-per-page: 4;

      &:hover .row-header .progress-bar {
        display: flex;
      }
      .row-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        .row-header-text {
          margin: 10px 20px 0 20px;
          padding: 10px 20px 0 20px;
          font-family: $Nunito-Sans, 'Helvetica Neue', sans-serif;
        }
        .progress-bar {
          @include centerFlex;
          flex-direction: row;
          display: none;
          margin-right: 20px;
          transition: display 150ms ease-in-out;

          .progress-bar-div {
            border-radius: 0.2rem;
            height: 3px;
            width: 15px;
            margin: 0 1px;
          }
        }
      }

      .row-content {
        display: flex;
        width: 100%;
        flex-direction: row;
        box-sizing: border-box;

        &:hover .handle,
        :hover .progress-bar {
          color: $white;
        }
        .handle {
          width: var(--slider-padding);
          background-color: rgba(0, 0, 0, 0.25);
          height: 100%;
          border: none;
          margin: var(--img-gap) 0;
          border-radius: 0;
          transition: all 150ms ease-in-out;
          z-index: 5;
          font-size: 4.5rem;
          color: rgba(0, 0, 0, 0);
          cursor: pointer;
          &:hover,
          :focus {
            background-color: rgba(0, 0, 0, 0.5);
            font-size: 5.2rem;
          }
        }
        .left-handle {
          border-top-right-radius: 0.5rem;
          border-bottom-right-radius: 0.5rem;
          &::after {
            content: '\2039';
          }
        }
        .right-handle {
          border-top-left-radius: 0.5rem;
          border-bottom-left-radius: 0.5rem;
          &::after {
            content: '\203A';
          }
        }
        .slider {
          box-sizing: border-box;
          display: flex;
          width: calc(100% - 2 * var(--slider-padding));
          transition: all 240ms;
          // transform: translateX(-100%); // this is set in a ts file

          .single-video {
            box-sizing: border-box;
            font-family: $Roboto-Slab;
            font-weight: bold;
            max-width: calc(100% / var(--item-per-page));
            margin: 0;
            padding: 0;
            min-height: 100%;
            border-radius: 6px;
            transition: all 250ms;
            z-index: 1;
            cursor: pointer;

            &:hover {
              border: none;
              transform: scale(1.08);
              // box-shadow: 0 0 10px rgba(150, 150, 150, 0.5);
              & > img {
                z-index: 2;
              }
            }
            img {
              aspect-ratio: 16 / 9;
              flex: 0 0 calc(100% / var(--item-per-page));
              width: calc((90vw / var(--item-per-page)) - (var(--img-gap) / 2));
              height: 100%;
              margin: 0;
              padding: var(--img-gap);
              border: none;
              border-radius: 0.5rem;
              overflow: hidden;
              transition: all 250ms;
            }
          }
          .add-video-element {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 0 0 calc(100% / var(--item-per-page));
            width: calc(100% / var(--item-per-page));
            min-height: 100%;
            // padding: var(--img-gap);
            margin-top: var(--img-gap);
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(120, 120, 120, 0.5);
            transition: all 250ms;
            background-color: $header-color;
            border: none;
            color: $white;
            text-decoration-line: none;

            &:hover {
              transform: scale(1.06);
              box-shadow: 0 0 10px rgba(5, 5, 5, 0.7);
              background-color: #343e53;
            }
          }
        }
      }
    }

    .category-section {
      display: flex;
      width: 100%;
      flex-direction: column;

      .category-title {
        margin: 10px 20px 0 20px;
        padding: 10px 20px 0 20px;
        .category-title-text {
          font-family: $Nunito-Sans, 'Helvetica Neue', sans-serif;
        }
      }
      .video-element-div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 200px;
        margin: 10px 0;
        padding: 10px 0;
        border-radius: 10px;

        .add-video-element {
          cursor: pointer;
          width: 400px;
          height: 100%;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(120, 120, 120, 0.5);
          transition: all 250ms;
          background-color: $header-color;
          margin: 0;
          padding: 0;
          border: none;

          &:hover {
            transform: scale(1.08);
            box-shadow: 0 0 10px rgba(5, 5, 5, 0.7);
            background-color: #343e53;
          }
        }
        .swiper-slide {
          width: 100%;
          height: 100%;
          @include centerFlex;

          .single-video-element {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 400px;
            color: $white;
            font-size: 20px;
            font-family: $Roboto-Slab;
            font-weight: bold;
            margin: 0;
            padding: 0;
            border-radius: 12px;
            transition: all 250ms;

            &:hover {
              background-color: $transparent;
              border: none;
              box-shadow: none;
              cursor: pointer;
              & > img {
                z-index: 1;
              }
            }
            img {
              aspect-ratio: 16 / 9;
              height: 100%;
              width: 100%;
              margin: 0;
              padding: 0;
              border: none;
              border-radius: 12px;
              transition: all 250ms;
            }
          }
        }
        .single-video-element {
          width: 400px;
          height: 100%;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
          transition: all 250ms;
          z-index: 1;
          border: none;
          background-color: $transparent;

          &:hover {
            transform: scale(1.08);
            box-shadow: 0 0 10px rgba(150, 150, 150, 0.5);
          }
        }
      }
    }
  }
}
