@import '../utils/scssVariables.scss';

* {
  color: $white;
}

button {
  color: $black;
  border: 1px solid $white;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  margin: 10px;
  font-size: 18px;
}

.form-control {
  background-color: $white;
  border: 1px solid $white;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  margin: 10px;
  font-size: 18px;
}
