@import '../utils/scssVariables.scss';

:root {
  @include custom-light-blue-scrollbar;
  color: $white;
  button:hover {
    filter: brightness(1.06);
    box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.4);
  }
}

.upload-video-container {
  display: flex;
  width: 100vw;
  min-height: $heightMinusHeader;

  .options-menu {
    display: flex;
    align-items: center;
    margin-top: 9vh;
    flex-direction: column;
    width: 18%;
    min-height: $heightMinusHeader;
    background-color: #30333b;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    border-radius: 0.2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    border-right: 1px solid rgba(0, 0, 0, 0.4);

    .options-button-box {
      cursor: pointer;
      @include centerFlex;
      flex-direction: row;
      width: 85%;
      height: 50px;
      background-color: #3b3e46;
      font-family: $Roboto-Slab, 'Roboto', sans-serif;
      border-radius: 5px;
      margin: 10px 0;
      padding: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      border: none;

      &:hover {
        transition: 0.3s;
        filter: brightness(1.2);
      }

      .options-box-heading {
        color: #d6d6d6;

        &:hover {
          transition: 0.3s;
          color: #ffffff;
        }
      }
    }
    #options-button-box-go-home {
      background-color: #3a4257;
      box-shadow: 0px 0px 10px rgba(150, 150, 150, 0.4);
      &:hover {
        transition: 0.3s;
        filter: brightness(1.2);
      }

      .options-box-heading {
        &::before {
          content: '\2190';
          margin: 0 10px 0 0;
        }
      }
    }
  }

  .upload-video-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 9vh;
    // background: linear-gradient(
    //   to right,
    //   #31343a 0%,
    //   #52555d 20%,
    //   #43495c 40%,
    //   #4a4e57 60%,
    //   #3b3e47 80%,
    //   #31343a 100%
    // );
    background-color: $main-color;

    .main-content {
      @include centerFlex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      width: 100%;

      .render-upload-section {
        @include centerFlex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        .single-upload-section {
          @include custom-light-blue-scrollbar;
          display: flex;
          justify-content: center;
          height: 100%;
          min-height: $heightMinusHeader;
          width: 100%;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);

          .video-preview-section {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;

            .single-display-picture-input + label {
              display: flex;
              cursor: pointer;
              position: relative;
              margin: 10px;
              height: 300px;
              width: 500px;
              border-radius: 8px;
              background-color: rgba(50, 50, 50, 0.5);
              box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);

              .preview-play-div {
                @include centerFlex;
                height: 100%;
                width: 100%;
                position: absolute;
                svg {
                  @include centerFlex;
                  color: rgba(0, 0, 0, 0.9);
                  height: 50px;
                  width: 50px;
                  border-radius: 50%;
                  box-shadow: 0px 0px 10px rgba(200, 200, 200, 0.9);
                  font-size: 60px;
                  transition: all 250ms;
                  &:hover {
                    background-color: rgba(60, 60, 60, 0.45);
                    transform: scale(1.06);
                    filter: brightness(1.1);
                  }
                }
              }
              img {
                object-fit: contain;
                border-radius: 15px;
                height: 100%;
                width: 100%;
              }
            }
            .video-preview-input-fields {
              @include centerFlex;
              justify-content: flex-start;
              height: 300px;
              flex-direction: column;

              .release-date-div {
                @include centerFlex;
                align-items: flex-start;
                flex-direction: column;
                width: 100%;
                div {
                  flex-direction: row;
                  width: 118%;
                  margin: 0;
                  padding: 0;
                  label {
                    margin-left: 10px;
                  }
                  input[type='date'] {
                    @include input-field-test;
                    width: 60%;
                    height: 24px;
                    border-radius: 10px;
                    padding: 5px 15px;
                    color: #000;
                    background-color: $white;
                    border: solid 1px rgba(100, 100, 100, 0.1);
                    box-shadow: 0px 0px 10px rgba(125, 125, 125, 0.25);
                    cursor: text;
                  }
                  button {
                    background-color: rgba(124, 124, 154, 0.2);
                    border: none;
                    border: 1px solid rgba(255, 255, 255, 0.4);
                    cursor: pointer;
                    transition: all 250ms;
                    &:hover {
                      border: 1px solid rgba(200, 200, 200, 0.45);
                      box-shadow: 0px 0px 10px rgba(200, 200, 200, 0.45);
                      filter: brightness(1.08);
                      transform: scale(1.04);
                    }
                  }
                }
              }
              div {
                @include centerFlex;
                align-items: flex-start;
                flex-direction: column;
                width: 100%;
                label {
                  margin-left: 10px;
                }
                .title-input {
                  @include input-field-test;
                  width: 60%;
                  height: 24px;
                  border-radius: 10px;
                  margin: 15px 15px 30px;
                  padding: 5px 15px;
                  color: #000;
                  background-color: $white;
                  border: solid 2px rgba(100, 100, 100, 0.1);
                  box-shadow: 0px 0px 10px rgba(125, 125, 125, 0.25);
                  cursor: text;
                }
                .video-file-input {
                  @include input-field-test;
                  width: 60%;
                  height: 24px;
                  border-radius: 10px;
                  margin: 15px 15px 30px;
                  padding: 5px 15px;
                  color: #000;
                  background-color: $white;
                  border: solid 2px rgba(100, 100, 100, 0.1);
                  box-shadow: 0px 0px 10px rgba(125, 125, 125, 0.25);
                  cursor: pointer;

                  &:hover {
                    transition: 0.2s;
                    filter: brightness(1.05);
                    box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.4);
                    border: 2px solid rgba(0, 0, 0, 0.3);
                  }
                  &::-webkit-file-upload-button {
                    // visibility: hidden;
                    display: none;
                  }
                  &::before {
                    margin-right: 2.5%;
                    content: '\01F3A5';
                  }
                }
              }
            }
          }
          .video-addon-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;

            .description {
              display: flex;
              flex-direction: column;
              width: 30%;
              height: 300px;
              margin: 10px;
              padding: 10px;

              .description-input {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                align-items: flex-end;
                text-align: flex-end;
                border-radius: 12px;
                border: 1px solid rgba(40, 40, 40, 0.7);
                width: 100%;
                height: 100%;
                margin: 10px 0 0 10px;
                padding: 10px 0;
              }
            }
            .selections {
            }
            .categories-selection {
              display: flex;
              flex-wrap: wrap;
              align-items: flex-start;
              flex-direction: row;
              width: 38.7%;

              .single-categories-div {
                margin: 5px;
                display: flex;
                transition: all 250ms;
                user-select: none;
                .single-categories-checkbox {
                  display: none;

                  &:checked + label {
                    border-radius: 12px;
                    background-color: #fc7ae2;
                  }
                }
                .single-categories-checkbox + label {
                  cursor: pointer;
                  user-select: none;
                  border-radius: 12px;
                  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
                  border: 1px solid rgba(0, 0, 0, 0.3);
                  padding: 8px 8px;
                  transition: all 250ms;
                  &:hover {
                    filter: brightness(1.1);
                    box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.4);
                    border: 1px solid rgba(0, 0, 0, 0.5);
                  }
                }
              }
            }
          }
          .submit-video-button-div {
            @include centerFlex;
            width: 100%;
            .submit-video-button {
              cursor: pointer;
              height: 50px;
              background-color: #3b404a;
              box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
              border: 1px solid rgba(255, 255, 255, 0.4);
              &:disabled {
                cursor: not-allowed;
                color: #777;
                opacity: 0.7;
                background-color: #222;
                color: #777;
                opacity: 0.7;
                box-shadow: 0px 0px 10px rgba(80, 80, 80, 0.3);
                border: 1px solid rgba(80, 80, 80, 0.4);
              }
              .submit-video-button-loader {
                display: flex;
                justify-content: center;

                &::after {
                  content: '';
                  height: 16px;
                  width: 16px;
                  border: 10px solid #dddddd;
                  border-top-color: #009579;
                  border-radius: 50%;
                  transform: rotate(0.16turn);
                  animation: loading 1s cubic-bezier(0.7, 0.9, 0.9, 0.8) infinite;
                }

                @keyframes loading {
                  /* Safari support */
                  from {
                    transform: rotate(0turn);
                  }

                  to {
                    transform: rotate(1turn);
                  }
                }
              }
            }
          }
        }

        .create-series-container {
          display: flex;
          width: 100%;
          min-height: 100%;
          background-color: $main-color;
          justify-content: center;

          .preview-image {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;

            .display-picture-input + label {
              display: flex;
              cursor: pointer;
              position: relative;
              margin: 10px;
              height: 300px;
              width: 500px;
              border-radius: 8px;
              background-color: rgba(50, 50, 50, 0.5);
              box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);

              .preview-play-div {
                @include centerFlex;
                height: 100%;
                width: 100%;
                position: absolute;
                svg {
                  @include centerFlex;
                  color: rgba(0, 0, 0, 0.9);
                  height: 50px;
                  width: 50px;
                  border-radius: 50%;
                  box-shadow: 0px 0px 10px rgba(200, 200, 200, 0.9);
                  font-size: 60px;
                  transition: all 250ms;
                  &:hover {
                    background-color: rgba(60, 60, 60, 0.45);
                    transform: scale(1.06);
                    filter: brightness(1.1);
                  }
                }
              }
              img {
                object-fit: contain;
                border-radius: 15px;
                height: 100%;
                width: 100%;
              }
            }
            .fields {
              display: flex;
              flex-direction: column;

              div {
                display: flex;
                flex-direction: column;
                margin: 0.5rem;

                label {
                  margin-left: 10px;
                }
                .title-input {
                  @include input-field-test;
                  width: 250px;
                  height: 24px;
                  color: #000;
                  background-color: $white;
                  border: solid 2px rgba(100, 100, 100, 0.1);
                  box-shadow: 0px 0px 10px rgba(125, 125, 125, 0.25);
                  cursor: text;
                }
              }
            }
          }

          .switch-div-box {
            @include centerFlex;
            @include toggle-switch;
            flex-direction: row;
            border-radius: 10px;
            font-family: $Roboto-Slab, 'Roboto', sans-serif;
            padding-top: 2rem;

            .switch-header-text {
              font-size: 1.2rem;
              margin: 0 20px;
              font-family: $Roboto-Slab, 'Roboto', sans-serif;
            }
          }

          .description {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            label {
            }
            display: flex;
            flex-direction: column;
            width: 75%;
            height: 300px;
            margin: 10px 0;
            padding: 10px 0;

            .description-input {
              display: flex;
              flex-wrap: wrap;
              justify-content: flex-end;
              align-items: flex-end;
              text-align: flex-end;
              border-radius: 0.4rem;
              border: 1px solid rgba(40, 40, 40, 0.7);
              width: 100%;
              height: 100%;
              margin: 10px 0 0 10px;
              padding: 10px;

              &:hover {
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
              }
              &:focus {
                outline: none;
              }
            }
          }
          .categories-and-franchise-container {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
            .parent {
              display: flex;
              width: 50%;
              flex-direction: column;

              .categories-and-franchise {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                flex-direction: row;
                width: 100%;
                max-width: 500px;

                .single-categories-and-franchise {
                  margin: 5px;
                  display: flex;
                  transition: all 250ms;
                  user-select: none;
                  .checkbox {
                    display: none;

                    &:checked + label {
                      border-radius: 12px;
                      background-color: #fc7ae2;
                    }
                  }
                  .checkbox + label {
                    cursor: pointer;
                    user-select: none;
                    border-radius: 12px;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
                    border: 1px solid rgba(0, 0, 0, 0.3);
                    padding: 8px 8px;
                    transition: all 250ms;
                    &:hover {
                      filter: brightness(1.1);
                      box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.4);
                      border: 1px solid rgba(0, 0, 0, 0.5);
                    }
                  }
                }
              }
            }
          }

          .submit-button-div {
            @include centerFlex;
            width: 100%;
            padding-top: 3rem;
            padding-bottom: 3rem;
            .submit-button {
              cursor: pointer;
              height: 50px;
              color: #ededed;
              background-color: #3b404a;
              // box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
              border: 1px solid rgba(255, 255, 255, 0.2);
              transition: all 150ms;
              &:hover {
                color: $white;
                border: 1px solid rgba(0, 0, 0, 0.2);
                box-shadow: 0px 0px 10px rgba(10, 10, 10, 0.3);
              }
              &:disabled {
                cursor: not-allowed;
                color: #777;
                opacity: 0.7;
                background-color: #222;
                color: #777;
                opacity: 0.7;
                box-shadow: 0px 0px 10px rgba(80, 80, 80, 0.5);
                border: 1px solid rgba(80, 80, 80, 0.4);
              }
              .submit-button-loader {
                display: flex;
                justify-content: center;

                &::after {
                  content: '';
                  height: 16px;
                  width: 16px;
                  border: 10px solid #dddddd;
                  border-top-color: #009579;
                  border-radius: 50%;
                  transform: rotate(0.16turn);
                  animation: loading 1s cubic-bezier(0.7, 0.9, 0.9, 0.8) infinite;
                }

                @keyframes loading {
                  /* Safari support */
                  from {
                    transform: rotate(0turn);
                  }

                  to {
                    transform: rotate(1turn);
                  }
                }
              }
            }
          }
        }

        .search-container {
          display: flex;
          flex-direction: column;
          width: 100%;
          min-height: $heightMinusHeader;
          overflow: hidden;

          #search-value {
            height: 54px;
            font-size: 2rem;
            border-radius: 0.3rem;
            margin: 0 5rem;
            padding: 0 2rem;
            color: #fff;
            background-color: rgba(200, 200, 200, 0.3);
            border: 1px solid rgba(10, 10, 10, 1);
            box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
            cursor: text;

            &:focus {
              outline: none;
            }
          }
          .search-value-container {
            display: flex;
            flex-wrap: wrap;
            // background-color: #b00b;
            margin: 2rem;
            justify-content: center;

            .search-value-element {
              width: 200px;
              color: $white;
              font-size: 20px;
              font-family: $Roboto-Slab;
              font-weight: bold;
              margin: 0;
              padding: 0.5rem;
              border-radius: 8px;
              transition: all 250ms;

              &:hover {
                background-color: $transparent;
                border: none;
                box-shadow: none;
                & > img {
                  z-index: 1;
                }
              }

              .search-value-element-button {
                display: flex;
                width: 100%;
                height: 100%;
                border: none;
                border-radius: 8px;
                background-color: $transparent;
                transition: all 250ms;
                &:hover {
                  transform: scale(1.1);
                  cursor: pointer;
                }
              }
              img {
                aspect-ratio: 16 / 9;
                height: 100%;
                width: 100%;
                margin: 0;
                padding: 0;
                border: none;
                border-radius: 12px;
                transition: all 250ms;
              }
            }
          }
        }

        .series-data-container {
          display: flex;
          flex-direction: column;
          width: 100%;
          min-height: $heightMinusHeader;

          .series-data {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;

            .title-div {
              display: flex;
              width: 80%;
              justify-content: flex-start;
              .field-text {
                margin: 1rem 2.5rem 0.2rem 2.5rem;
                font-size: 1.5rem;
                font-family: $Roboto-Slab, 'Roboto', sans-serif;
              }
            }

            .series-info {
              display: flex;
              width: 80%;
              align-items: center;
              flex-direction: row;
              align-items: center;
              .displayPicture {
                width: 550px;
                color: $white;
                font-size: 20px;
                font-family: $Roboto-Slab;
                font-weight: bold;
                margin: 0;
                padding: 0.5rem;
                border-radius: 0.3rem;
                transition: all 250ms;

                &:hover {
                  background-color: $transparent;
                  border: none;
                  box-shadow: none;
                  & > img {
                    z-index: 1;
                  }
                }

                img {
                  aspect-ratio: 16 / 9;
                  height: 100%;
                  width: 100%;
                  margin: 0;
                  padding: 0;
                  border: none;
                  border-radius: 0.3rem;
                  transition: all 250ms;
                }
              }
              .fields {
                margin: 10px;
                .field-text {
                }
              }
            }
            .seasons-and-episodes {
              display: flex;
              flex-direction: column;
              width: 80%;
              padding: 0;
              margin: 1rem;
              .seasons {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                padding: 0.8rem;
                .seasons-button {
                  @include centerFlex;
                  border: 1px solid rgba(80, 80, 80, 0.8);
                  border-radius: 0.3rem;
                  margin: 0.3rem;
                  background-color: rgba(80, 80, 80, 0.6);
                  transition: all 250ms;
                  &:hover {
                    border: 1px solid rgba(60, 60, 60, 0.6);
                    box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.5);
                    cursor: pointer;
                  }
                }
              }
              .episodes {
                display: flex;
                width: 100%;
                flex-wrap: wrap;
                padding: 0.8rem;
                .episode-div {
                  display: flex;
                  flex-direction: column;
                  width: 750px;
                  min-height: 150px;
                  max-height: 200px;
                  min-height: 100px;
                  background-color: rgba(50, 50, 50, 0.6);
                  padding: 1rem;
                  margin: 0.5rem;
                  border-radius: 0.6rem;

                  .episode-div-header {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    .text-div {
                      display: flex;
                      flex-direction: row;
                      margin: 0.2rem 0;
                      .text {
                        margin: 0 1.5rem 0 0.3rem;
                        font-size: 1.1em;
                        font-family: $Nunito-Sans, 'Roboto', sans-serif;
                        color: $white;
                      }
                      .episode-index::after {
                        content: '.';
                      }
                      #newEpisodeTitle {
                        border-radius: 0.4rem;
                        outline: none;
                        border: none;
                        padding-left: 5px;
                      }
                      .episode-video-file + label {
                        cursor: pointer;
                        position: relative;
                        min-width: 102px;
                        height: 100%;
                        margin: 0 0 0 6px;
                        border-radius: 8px;
                        background-color: rgba(50, 50, 50, 0.5);
                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);

                        &::after {
                          position: absolute;
                          left: 45%;
                          content: '+';
                        }
                      }
                      .move-left {
                        margin-left: 1.5rem;
                      }
                      .creation-date {
                        border-radius: 0.2rem;
                        outline: none;
                        border: none;
                        padding-left: 5px;
                        font-size: 0.9rem;
                        cursor: pointer;
                      }
                    }
                    .remaining {
                    }
                  }
                  .episode-content {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    .display-picture-input + label {
                      display: flex;
                      cursor: pointer;
                      position: relative;
                      min-width: 25%;
                      min-height: 90px;
                      height: 75%;
                      margin: 10px;
                      border-radius: 8px;
                      background-color: rgba(50, 50, 50, 0.5);
                      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);

                      .preview-play-div {
                        @include centerFlex;
                        height: 100%;
                        width: 100%;
                        position: absolute;
                      }
                      .episode-display-image {
                        aspect-ratio: 16 / 9;
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        padding: 0;
                        border: none;
                        border-radius: 0.3rem;
                        transition: all 250ms;
                      }
                    }
                    .episode-display-image {
                      aspect-ratio: 16 / 9;
                      width: 25%;
                      height: 75%;
                      margin: 10px;
                      padding: 0;
                      border: none;
                      border-radius: 0.3rem;
                      transition: all 250ms;
                    }
                    .episode-description {
                      display: flex;
                      width: 100%;
                      margin: 10px;
                      p {
                        width: 100%;
                        font-family: $Nunito-Sans, 'Roboto', sans-serif;
                        color: $white;
                      }
                      textarea {
                        width: 100%;
                        font-size: 0.9rem;
                        border: 1px solid rgba(0, 0, 0, 0.95);
                        border-radius: 0.5rem;
                        background-color: rgba(255, 255, 255, 0.9);
                        color: rgb(0, 0, 0);
                        padding: 0.3rem;
                      }
                    }
                  }
                  .submit-button {
                    border: 1px solid rgba(255, 255, 200, 0.3);
                    height: 2.3rem;
                    border-radius: 0.4rem;
                    background-color: #252931;
                    cursor: pointer;
                    box-shadow: 0 0 10px rgba(215, 210, 231, 0.35);
                    transition: all 250ms;
                    &:hover {
                      box-shadow: 0 0 10px rgba(255, 250, 231, 0.727),
                        0 0 20px rgba(255, 250, 231, 0.727);
                      filter: brightness(1.05);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
button {
  color: $white;
  border: 1px solid $white;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  margin: 10px;
  font-size: 18px;
}

.form-control {
  background-color: $white;
  border: 1px solid $white;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  margin: 10px;
  font-size: 18px;
}
textarea:focus {
  outline: none;
}

.submit-video-button-loader {
  display: flex;
  justify-content: center;

  &::after {
    content: '';
    height: 16px;
    width: 16px;
    border: 10px solid #dddddd;
    border-top-color: #009579;
    border-radius: 50%;
    transform: rotate(0.16turn);
    animation: loading 1s cubic-bezier(0.7, 0.9, 0.9, 0.8) infinite;
  }

  @keyframes loading {
    /* Safari support */
    from {
      transform: rotate(0turn);
    }

    to {
      transform: rotate(1turn);
    }
  }
}
